/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    #myCarousel a.carousel-control-prev {
        left: 7%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 18px;
    }
    .stewart h1 {
        font-size: 79px;
        line-height: 73px;
    }
    #myCarousel a.carousel-control-prev {
        left: 4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 8px;
        font-size: 15px;
    }
    .stewart span {
        font-size: 35px;
        line-height: 29px;
    }
    .carousel-item img {
        height: 500px;
    }
    .stewart h1 {
        font-size: 61px;
        line-height: 41px;
    }
    #myCarousel a.carousel-control-prev {
        left: 1%;
    }
    ul.conta li {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .carousel-item img {
        min-height: 570px;
    }
    .stewart span {
        font-size: 35px;
        line-height: 29px;
    }
    .stewart h1 {
        font-size: 53px;
        line-height: 41px;
    }
    #myCarousel a.carousel-control-next {
        right: 68%;
    }
    .about .titlepage {
        max-width: inherit;
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 5px !important;
    }
    .navigation .navbar-collapse {
        background: #000000f2;
        padding: 20px;
        margin-top: 59px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 9px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
    .back_re .title h2 {
        font-size: 34px;
        line-height: 30px;
    }
}

@media (max-width: 575px) {
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    .stewart span {
        font-size: 25px;
        line-height: 23px;
    }
    .stewart h1 {
        font-size: 34px;
        padding-bottom: 27px;
        line-height: 30px;
    }
    #myCarousel a.carousel-control-next {
        right: 60%;
    }
    .stewart .read_more {
        margin-top: 30px;
    }
    .carousel-item img {
        min-height: 445px;
    }
    #myCarousel a.carousel-control-next,
    #myCarousel a.carousel-control-prev {
        top: 86%;
        font-size: 24px;
        width: 50px;
        height: 50px;
    }
    .about .titlepage {
        max-width: inherit;
        margin-bottom: 30px;
    }
    .titlepage h2 {
        font-size: 28px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    ul.conta li {
        font-size: 17px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .navigation .navbar-collapse {
        background: #000000f2;
        padding: 20px;
        margin-top: 11px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        border: inherit;
        margin-top: -45px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .d_none {
        display: none;
    }
    .back_re .title h2 {
        font-size: 24px;
        line-height: 30px;
    }
}